@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
    max-width: 1200px;
  }


    /* create styles */
    .create-post {
      display: flex; align-items: center; flex-direction: column;
    }

    .create-post form{
        max-width: 400px;
        margin: 0 auto;
      }
      .create-blog input,
      .create-blog textarea{
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 8px;
      }
      .create-blog label{
        display: block;
        margin-top: 24px;
      }
      textarea{
        height: 120px;
      }
      .create-blog button{
        margin-top: 20px;
        background: crimson;
        color: white;
        padding: 6px;
        border: 0;
        font-size: 1.2em;
        cursor: pointer;
      }

      .form {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
      }


      .input-description {
        height: 100vh;
      }


      h1, h2, h3, p {


        transition: transform .2s; /* Animation */

        /* border: 1px solid #ccc; */
      }

      h1:hover, h2:hover, h3:hover, p:hover {
        transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
